* {
    box-sizing: border-box;
}
body {
    padding-top: 44px;
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.input {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    background-repeat: no-repeat;
    background-position: left 10px center;
    padding: 8px;   
    padding-left: 32px;
}
.input-address {
    width: 690px;
    background-image: url(../img/home.svg);
}
.input-search {
    width: 306px;
    background-image: url(../img/search.svg);
}
.buttons {
    display: flex;
    align-items: center;
}
.button {
    padding: 8px 16px;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.button-primary {
    background: #1890FF;
    color: #FFFFFF;
    margin-right: 10px;
    border: 1px solid #1890FF;
}
.button-icon {
    margin-right: 6px;
}
.promo {
    background: #FFF1B8 url(../img/promo-img.jpeg) no-repeat top -87px right -258px / 923px;
    border-radius: 10px;
    box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
    padding: 68px 70px;
}
.promo-title {
    font-style: normal;
    font-weight: bold;
    font-size: 39px;
    line-height: 46px;
    color: #302C34;
    margin-bottom: 15px;
}
.promo-text {
    max-width: 540px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #302C34;
}