* {
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-input {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    height: 40px;
    width: 690px;
    font-size: 16px;
    line-height: 24px;
    background-image: url(../img/home.svg);
    background-repeat: no-repeat;
    background-position: left 10px center;
    padding-left: 32px;
}
.button {
    padding: 8px 16px;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
    
}